<mat-toolbar fxFlexFill>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" class="page">
    <mat-toolbar-row>
      <div>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button> </div>
      <div style="margin-left: 2%;">
        <img src="..\\assets\\images\\keep_48dp.png">
      </div>
      <div style="margin-left: 1%;">
        <label style="color: yellowgreen;">Fundoo<span style="color:gold">Notes</span></label>
      </div>

      <div style="margin-left: 11%; ">

        <label> <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button></label>
        <input class="search" matInput placeholder="Search">

      </div>

    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">

      <div>

        <button mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>view_list</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>