<div fxLayoutAlign="center center" class="loginfx" fxFlexFill>
    <mat-card class="formbg">
        <mat-card-title class="title">Please Login</mat-card-title>
        <form fxLayoutAlign="strech" fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <mat-form-field>
                <input matInput placeholder="Enter user name">
            </mat-form-field>
            <mat-form-field>
                <input matInput type='password' placeholder="Enter password">
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button> 
            <button mat-raised-button><a href="http://localhost:4200/registration">Register</a></button>            
            <a href="http://localhost:4200/forgetpassword">
                Forget Password ? 
            </a>            
        </form>
    </mat-card>
</div>