.iconsRowWidth {
    width: 100%;
}

button {
    margin-right: 5%;
    text-size-adjust: 7%;
}

.textAreaWidth {    
    border: none;
    outline: none;
    resize: none;
    font-size: 17px;
    width: 230%;    
 
}

.textAreaWidth {    
    border: none;
    outline: none;
    resize: none;
    font-size: 17px;
    width: 230%;    
 
}