<div style="margin: 4%;" fxFlex=100% fxLayout="column" fxLayoutAlign="start start" *ngFor="let note of notes">
    <div>
        {{note}}}
        <!-- <textarea class="textAreaWidth" [formControl]="titleNoteFormControl" value={{note.title}}></textarea> -->
    </div>
    <div>
        {{note.description}}
        <!-- <textarea class="textAreaWidth" [formControl]="descriptionNoteFormControl" matInput
            value={{note.description}}></textarea> -->
    </div>
    <div>
        <app-icons></app-icons>
    </div>
</div>