<div fxLayoutAlign="center center" class="resetpasswordfx" fxFlexFill>
    <mat-card class="formbg">
        <mat-card-title class="title">Please enter new password</mat-card-title>
        <form fxLayoutAlign="strech" fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <mat-form-field>
                <input matInput placeholder="Enter password">
            </mat-form-field>
            <mat-form-field>
                <input matInput type='password' placeholder="Enter confirm password">
            </mat-form-field>
            <button mat-raised-button type="submit">Save Password</button>            
        </form>
    </mat-card>
</div>