<div class="title">
    <h1>{{message}}</h1>
  </div>
  
<div fxLayoutAlign="center center" class="resetpasswordfx" fxFlexFill>
    <mat-card class="formbg" class="form-size">
        <mat-card-title class="title">Please enter new password</mat-card-title>
        <form fxLayoutAlign="strech" fxLayout="column">
           
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>                
                <input matInput ngModel minlength="8" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" placeholder="Enter password">
                <mat-hint>You can use letters, numbers and special characters</mat-hint>
                <mat-error *ngIf="!passwordFormControl.hasError('length') && !passwordFormControl.hasError('required')">
                    Password minimum length should be 8 characters
                  </mat-error>
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput ngModel minlength="8" [formControl]="cofirmPasswordFormControl" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" placeholder="Enter confirm password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>               
                </button>
                <mat-hint>Password and confirm password should be matched</mat-hint>
                <mat-error *ngIf="!cofirmPasswordFormControl.hasError('length') && !cofirmPasswordFormControl.hasError('required')">
                    Password and confirm password should be matched
                  </mat-error>
                  <mat-error *ngIf="cofirmPasswordFormControl.hasError('required')">
                    confirm Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>            
            <button mat-raised-button type="submit" (click)="resetPasswordNow()">Save Password</button>            
        </form>
    </mat-card>
</div>
