.registrationfx {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(28deg, royalblue 50%, dodgerblue 50%);

}

.formbg {
	background-color: antiquewhite;
}

.form-size {
	min-width: 23%;
	min-height: 30%;
	padding-left: 2.8%;	
	padding-bottom: 2%;
}

button {
	background-color: dodgerblue;	
	justify-content: center;
}

.title{
	text-align: center; 
	padding: 3%;
}

mat-form-field {
	width: 43%;
}