<div fxLayoutAlign="center center" fxFlexFill class="registrationfx">
    <mat-card class="formbg" >
        <mat-card-title class="title">Register User</mat-card-title>
        <form fxLayoutAlign="strech" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Enter first name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter second name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter user name">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Enter password">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Enter confirm password">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter email-id">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter mobile number">
            </mat-form-field>
            <button mat-raised-button type="submit">Register</button>            
        </form>
    </mat-card>
</div>

