<div fxLayoutAlign="center center" fxFlexFill class="registrationfx">
  <mat-card class="formbg" class="form-size" fxLayout="column">
    <mat-card-title class="icon" fxLayout="row" fxLayoutAlign="center center">
      <img src="..\\assets\\images\\keep_48dp.png">
      <label style="color: dodgerblue;"> Fundoo<span style="color:gold">Notes</span></label>
    </mat-card-title>
    <mat-card-title class="title">Register User</mat-card-title>
    <form style="padding-left: 7%;">
      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>First name</mat-label>
        <input matInput ngModel pattern="^[a-zA-Z]+$" [formControl]="firstNameFormControl" [errorStateMatcher]="matcher"
          placeholder="Please enter first name">
        <mat-error *ngIf="firstNameFormControl.hasError('pattern') && !firstNameFormControl.hasError('required')">
          Please enter first name
        </mat-error>
        <mat-error *ngIf="firstNameFormControl.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>Last name</mat-label>
        <input matInput ngModel pattern="^[a-zA-Z]+$" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher"
          placeholder="Please enter first name">
        <mat-error *ngIf="lastNameFormControl.hasError('pattern') && !lastNameFormControl.hasError('required')">
          Please enter last name
        </mat-error>
        <mat-error *ngIf="lastNameFormControl.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>User name</mat-label>
        <input matInput ngModel pattern="^[a-zA-Z][a-zA-Z0-9]+@[a-zA-Z.]+$" [formControl]="userNameFormControl"
          [errorStateMatcher]="matcher" placeholder="Ex. abc@gmail.com">
        <mat-error *ngIf="userNameFormControl.hasError('pattern') && !userNameFormControl.hasError('required')">
          Please enter a valid user name
        </mat-error>
        <mat-error *ngIf="userNameFormControl.hasError('required')">
          User name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>Email-id</mat-label>
        <input matInput ngModel pattern="^[a-zA-Z][a-zA-Z0-9]+@[a-zA-Z.]+$" [formControl]="emailFormControl"
          [errorStateMatcher]="matcher" placeholder="Ex. abc@gmail.com">
        <mat-hint>Please enter valid email-id</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>Password</mat-label>
        <input matInput ngModel minlength="8" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
          [type]="hide ? 'password' : 'text'" placeholder="Enter password">
        <mat-hint>You can use letters, numbers and special characters</mat-hint>
        <mat-error *ngIf="!passwordFormControl.hasError('length') && !passwordFormControl.hasError('required')">
          Password minimum length should be 8 characters
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>Confirm password</mat-label>
        <input matInput ngModel minlength="8" [formControl]="confirmPasswordFormControl" [errorStateMatcher]="matcher"
          [type]="hide ? 'password' : 'text'" placeholder="Enter confirm password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Password and confirm password should be matched</mat-hint>
        <mat-error
          *ngIf="!confirmPasswordFormControl.hasError('length') && !confirmPasswordFormControl.hasError('required')">
          Password and confirm password should be matched
        </mat-error>
        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
          Confirm password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br> <br>
      <mat-form-field appearance="outline" style="margin-right: 7%;">
        <mat-label>Mobile number</mat-label>
        <input matInput ngModel pattern="^[7-9][0-9]{9}$" [formControl]="mobileNumberFormControl"
          [errorStateMatcher]="matcher" placeholder="Please enter first name">
        <mat-error *ngIf="mobileNumberFormControl.hasError('pattern') && !mobileNumberFormControl.hasError('required')">
          Please enter mobile number
        </mat-error>
        <mat-error *ngIf="mobileNumberFormControl.hasError('required')">
          Mobile number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-card-actions align="center">
        <button mat-raised-button (click)="registerNow()" style="margin-right: 7%; margin-left: 7;">Register</button>
      </mat-card-actions>
      <mat-card-actions align="center" style="margin-left: 21%;">
        <a href="http://localhost:4200/user/login" style="margin-right: 35%; margin-left: 7;">Sign in instead</a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>