<div class="topnav">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" class="page">
      <mat-toolbar-row>
        <div>
          <button mat-icon-button (click)="onToolBarToggle()">
            <mat-icon matTooltip="Show menu">menu</mat-icon>
          </button>
        </div>
        <div style="margin-left: 2%;">
          <img src="..\\assets\\images\\keep_48dp.png">
        </div>
        <div style="margin-left: 1%;">
          <label style="color: yellowgreen;">Fundoo<span style="color:gold">Notes</span></label>
        </div>
        <div style="margin-left: 11%; margin-bottom: 1.5%;" class="borderShadow">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <input class="search" matInput placeholder="Search">
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
        <div>
          <button mat-icon-button (click)="refresh()">
            <mat-icon matTooltip="Refresh page">{{refreshVeiw}}</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button (click)="changeView()">
            <mat-icon matTooltip="Change view">{{view}}</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

    <div class="shadow" style="padding-top:3%" fxLayout="row">
      <button mat-icon-button (click)="onToolBarToggle()">
        <mat-icon matTooltip="Notes">emoji_objects</mat-icon>
      </button><button mat-button (click)="onToolBarToggle()">Notes</button>
    </div>
    <br>
    <div class="shadow" fxLayout="row">
      <button mat-icon-button (click)="onToolBarToggle()">
        <mat-icon matTooltip="Reminder">notifications_none</mat-icon>
      </button> <button mat-button (click)="onToolBarToggle()">Reminders</button>
    </div>
    <br>
    <div class="shadow" fxLayout="row">
      <button mat-icon-button (click)="onToolBarToggle()">
        <mat-icon matTooltip="Label">label</mat-icon>
      </button><button mat-button (click)="onToolBarToggle()">Label</button>
    </div><br>
    <div class="shadow" fxLayout="row">
      <button mat-icon-button (click)="onToolBarToggle()">
        <mat-icon matTooltip="Edite label">create</mat-icon>
      </button><button mat-button (click)="onToolBarToggle()">Edite labels</button>
    </div><br>
    <div class="shadow" fxLayout="row">
      <button mat-icon-button (click)="onToolBarToggle()">
        <mat-icon matTooltip="Archive">archive</mat-icon>
      </button><button mat-button (click)="onToolBarToggle()">Archive</button>
    </div><br>
    <div class="shadow" fxLayout="row">
      <button mat-icon-button (click)="onToolBarToggle()">
        <mat-icon matTooltip="Delete">delete_outline</mat-icon>
      </button><button mat-button (click)="onToolBarToggle()">Trash</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left.px': contentMargin}">

    <mat-accordion hideToggle fxLayoutAlign="center center" class="noteBox">
      <mat-expansion-panel fxFlex=37% [(expanded)]="viewTitle" style="border-radius: 10px;">
        <mat-expansion-panel-header fxLayoutAlign="center center" *ngIf="!viewTitle">
          <mat-panel-title>
            <span style="color: darkgray;"> Take a note..</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="margin: 4%;" fxFlex=100% fxLayout="column" fxLayoutAlign="start start">
          <div>
            <textarea class="textAreaWidth" [formControl]="titleNoteFormControl" matInput
              placeholder="Title"></textarea>
          </div>
          <div>
            <textarea class="textAreaWidth" [formControl]="descriptionNoteFormControl" matInput
              placeholder="Take a note.."></textarea>
          </div>
          <div>
            <app-icons [noteFormGroup]="noteFormGroup" (messageEvent)="receiveMessage($event)"></app-icons>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <p>{{notes}}</p>
      <app-cards [notes]="notes"></app-cards>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>