.topnav{
    border-bottom: .5px solid darkgray;
  }

.shadow:hover {
    background-color:#E8E8E8;   
    border-radius: 0px 50px 50px 0px;
}

.shadow{
    margin-left: 9%; 
}

.search {
   padding: 7%;
   margin-top: 3.5%;
   min-width: 250%;
   border-radius: 8px;  
}

#fixed{
    width: 7%;
    padding-left: 2%; 
}

mat-sidenav-container {
    height: 100%;    
}

mat-sidenav {
  
    background-color: white;
    width: 17%;
}

.borderShadow {
    /* border: 1px solid;
     padding: 10px;
    box-shadow: 2px 1px 1px 1px #888888;
    padding: 1.5%;
    margin-top: 2%;
     */ 
}

.textAreaWidth {    
    border: none;
    outline: none;
    resize: none;
    font-size: 17px;
    width: 230%;    
 
}



.noteBox{
    margin-top: 2%;
    margin-left: 0.5%;
    border-radius: 2px solid whitesmoke;
}

#sidenav.menu-close {
   width: 60px;
   margin-left: 1.2%;
   border-right: 0px;
   
}

#sidenav.menu-open {
    width: 280px;
    border-right: 0px;
}
