<div fxLayoutAlign="center center" fxFlexFill class="forgetpasswordfx">
    <mat-card class="formbg">
        <mat-card-title class="title">Please enter email-id</mat-card-title>          
        <form fxLayoutAlign="strech" color="primary" fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Email-id</mat-label>
                <input matInput placeholder="Enter email-id">
                <mat-hint>Ex. abc123@gmail.com / abc52@sify.co.in</mat-hint>
            </mat-form-field>
            <button mat-raised-button type="submit">Send recovery mail</button>            
        </form>
    </mat-card>
</div>