<div fxLayoutAlign="center center" fxFlexFill class="forgetpasswordfx">
    <mat-card class="formbg">
        <mat-card-title class="title">Recover User's Password</mat-card-title>          
        <form fxLayoutAlign="strech" color="primary" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Enter email-id">
            </mat-form-field>
            <button mat-raised-button type="submit">Send recovery mail</button>            
        </form>
    </mat-card>
</div>