<div fxLayoutAlign="center center" fxFlexFill class="forgetpasswordfx">
  <mat-card class="formbg" class="form-size">
      <mat-card-title class="title">Please enter email-id</mat-card-title>

      <form fxLayoutAlign="strech" class="title" fxLayout="column">

          <mat-form-field appearance="outline">
              <mat-label>Email-id</mat-label>
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. abc@gmail.com">
              <mat-hint>Please enter valid email-id</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          </mat-form-field>

         <button mat-raised-button type="submit" (click)="forgetPassword()">Send recovery mail</button> 
           
      </form> 
</mat-card>
</div>

