<div fxLayout="row" class="iconsRowWidth" fxLayoutAlign="space-between center">
    <button mat-icon-button>
        <mat-icon matTooltip="Remind me">add_alert</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Collaborator">person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Change color">color_lens</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Archive">archive</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Add image">crop_original</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="More">more_vert</mat-icon>
    </button>
    <button mat-button (click)="addNote()" (click)="sendOutputEvent()" matTooltip="Close note"
        style="margin-left: 23%;">Close</button>

</div>