<div fxLayout="row" class="iconsRowWidth" fxLayoutAlign="space-around center">
    <button mat-icon-button>
        <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Collaborator">person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Change color">color_lens</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Archive">archive</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="Add image">crop_original</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="More">more_vert</mat-icon>
    </button>
    <button mat-button (click)="closeNote()" matTooltip="Close note">Close</button>

</div>